# Build artifacts
*.o
*.d
*.bin
*.elf
*.dis
*.log
*.img
*.iso
user/date
user/cat
user/chello
user/basename
user/cmp
user/cut
user/dirname
user/echo
user/env
user/grep
user/head
user/hello
user/kill
user/printenv
user/reader
user/cpphello
user/shell
user/sleeper
user/sleep
user/sort
user/tail
user/tee
user/uniq
user/writer
user/wc
user/which
user/yes
user/crash
user/dmesg

core.*

# Python tooling
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# macOS
.DS_Store

# Editor
*.swp
*.swo
.vscode/
.double-fault-test-flag
.klog-debugcon-flag
.ktest-flag
.mouse-speed-flag
